<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tae.co.uk.ltd" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COURSE_LOCATION" />

    <application
        android:name=".application.TrafficDisruptionApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".mvp.view.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="android.app.default_searchable"
            android:value=".mvp.view.activity.MainActivity" />

        <meta-data
            android:name="android.app.searchable"
            android:resource="@xml/searchable" />

        <activity android:name=".mvp.view.activity.SingleMarkerMapActivity" />
        <activity android:name=".mvp.view.activity.MapActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDKMn7SwYBjhg_8ro6QN14Lpq4BlB52Pio" />

        <service android:name=".mvp.model.service.XMLFeedDownloadService" />
        <service android:name=".mvp.model.service.GPSTracker" />
    </application>

</manifest>
